<ng-container>
    <div class="col-12">
      <h3>2. Hình thức thanh toán</h3>
    </div>
    <div class="row">
        <div class="col-7">                       
            <div class="card">
              <div class="card-body">
                <form #paymentForm="ngForm" (ngSubmit)="onSubmit()">                  
                    <div class="custom-control custom-radio" *ngFor="let type of typeOfPaymentArr">
                      <input class="custom-control-input" type="radio" value="{{type.value}}" name="type" 
                              id="{{type.value}}" [(ngModel)]="typeOfPayment" 
                      >
                      <label class="custom-control-label" for="{{type.value}}">
                        {{type.name}}
                      </label>
                    </div>                               
                    <div *ngIf="(typeOfPayment=='card')">   
                      <a (click)="checkoutByNL()" (click)="false" href>                        
                        <img src="https://sandbox.nganluong.vn:8088/nl35/css/newhome/img/button/safe-pay-3.png"/>
                      </a>
                    </div>                                       
                    <button type="submit" *ngIf="(typeOfPayment=='cash')" class="btn btn-sm btn-primary">Đặt hàng</button>
                </form>
              </div>
            </div>
        </div>
        <div class="col-5">
            <app-bill [user]="user" [numberOfItems]="numberOfItems" *ngIf="showBill"></app-bill>
        </div>
    </div> 

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white">Đang xử lý đơn hàng.. </p>  
    </ngx-spinner>    
     
</ng-container>