<ng-container>
    <div class="card">
        <div class="card-header bg-primary">            
            <strong>Địa chỉ giao hàng</strong>  
            <a class="float-right btn btn-warning btn-sm text-dark" 
                (click)="navigate('/thanh-toan/dia-chi-giao-hang')"
            >
            Sửa
            </a>                          
        </div>
        <div class="card-body">  
            <app-mini-shipping [infor]="user.infor"></app-mini-shipping>
        </div>        
    </div>
    <div class="card">
        <div class="card-header bg-primary">            
            <strong>Đơn hàng</strong><span> ({{numberOfItems}} sản phẩm)</span>  
            <a class="float-right btn btn-warning btn-sm text-dark" 
                (click)="navigate('/thanh-toan/gio-hang')"
            >
            Sửa
            </a>                          
        </div>
        <div class="card-body"> 
            <app-mini-cart [cart]="user.cart"></app-mini-cart>
        </div>
    </div>
</ng-container>