<ng-container>
    <div class="card">
        <div class="card-header bg-primary">            
            <strong>Địa chỉ giao hàng</strong>  
            <a class="float-right btn btn-warning btn-sm text-dark" 
                (click)="navigate('/checkout/shipping')"
            >
            Sửa
            </a>                          
        </div>
        <div class="card-body">
          <h5>{{user.infor.name}}</h5>          
          <div>Số điện thoại: {{user.infor.phoneNumber}}
              <br>{{user.infor.address | cartAddressInfor}}<br></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary">            
            <strong>Đơn hàng</strong><span> (2 sản phẩm)</span>  
            <a class="float-right btn btn-warning btn-sm text-dark" 
                (click)="navigate('/checkout/cart')"
            >
            Sửa
            </a>                          
        </div>
        <div class="card-body">   
            <div class="row" *ngFor="let item of user.cart">
                <div class="col-7">
                    <strong>{{item.quantityPurchased}} x </strong><a href="#" class="text-blue ">{{item.product.name}}</a>
                
                </div>       
                <div class="col-5">
                    <span class="float-right">{{item.product.price | productPrice}}</span>
                </div>
            </div>  
            <hr>      
            <strong>Thành tiền:</strong>
            <div class="float-right">{{user.cart | cartTotalMoney | productPrice}}</div>
        </div>
    </div>
</ng-container>