<app-header  
  [navbarBrandRouterLink]="['/']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/datn-logo.jpg', width: 89, height: 25, alt: 'E-Commerce'}"
  [navbarBrandMinimized]="{src: 'assets/img/datn-logo.jpg', width: 30, height: 30, alt: 'E-Commerce'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
>  
  <div class="search-container nav navbar-nav d-md-down-none">
    <form class="form-inline">
      <input #searchInput type="text" class="form-control" placeholder="Nhập tên sản phẩm..."(keyup.enter)="onClick(searchInput.value)">
      <button type="submit" class="btn btn-square btn-secondary" (click)="onClick(searchInput.value)"><i class="fa fa-search" ></i>Tìm kiếm</button>
    </form>
  </div>
  <ul class="nav navbar-nav ml-auto" *ngIf="!auth.isLogin(user)">             
    <li class="nav-item d-md-down-none">
      <a data-toggle="modal" (click)="openModal(signInModal)" (click)="false" class="nav-link" href="#" ><i class="icon-user icons font-2xl"></i><span>Đăng nhập</span></a>
      <ng-template #signInModal>
          <div class="modal-header">
          <h4 class="modal-title pull-left">Đăng nhập</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
          <app-signin (onClick)="modalRef.hide()"></app-signin>
          </div>
      </ng-template>
    </li>
    <li class="nav-item d-md-down-none" data-dismiss="modal">
      <a data-toggle="modal" (click)="openModal(signUpModal)" (click)="false" class="nav-link" href><i class="icon-user-follow icons font-2xl"></i><span>Đăng ký</span></a>      
      <ng-template #signUpModal>
          <div class="modal-header">
          <h4 class="modal-title pull-left">Đăng ký</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
          <app-signup (onClick)="modalRef.hide()"></app-signup>
          </div>
      </ng-template>
    </li> 
  </ul>

  <ul class="nav navbar-nav ml-auto" *ngIf="auth.isLogin(user)">
      <li class="nav-item d-md-down-none" *ngIf="auth.isCustomer(user)">
      <a class="nav-link" href="#"><i class="icon-location-pin font-2xl"></i><span>Theo dõi đơn hàng</span></a>
      </li>
      <li class="nav-item d-md-down-none" *ngIf="auth.isCustomer(user)">
      <a class="nav-link" routerLink="/thanh-toan/gio-hang">
          <i class="icon-basket font-2xl"></i>          
          <span>Giỏ hàng</span>      
          <span class="badge-pill badge-danger">{{icService.lengthCart}}</span>
      </a>             
      <li class="nav-item d-md-down-none" *ngIf="auth.isAdmin(user)">
      <a class="nav-link" [routerLink]="['/quan-ly/thong-ke-doanh-thu']"><i class="fa fa-line-chart font-2xl"></i><span>Thống kê</span></a>
      </li>
      <li class="nav-item d-md-down-none" *ngIf="auth.isAdmin(user)">
      <a class="nav-link" [routerLink]="['quan-ly/danh-sach-khach-hang']">
          <i class="fa fa-table font-2xl"></i>          
          <span>Danh sách KH</span>      
          <span class="badge-pill badge-danger">{{customersCouting}}</span>
      </a>
      </li>
      <li class="nav-item d-md-down-none" *ngIf="auth.isAdmin(user)">
        <a class="nav-link" [routerLink]="['/quan-ly/them-san-pham']"><i class="fa fa-upload font-2xl"></i><span>Thêm sản phẩm</span></a>        
      </li> 
      <li class="nav-item d-md-down-none" *ngIf="auth.isShipper(user)">
        <a class="nav-link" [routerLink]="['/giao-hang']">
          <i class="fa fa-truck font-2xl"></i>          
          <span> Danh sách đơn hàng</span>      
          <span class="badge-pill badge-danger">{{numberOfUnPaidBills}}</span>
        </a>
      </li>     
      <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
          <img src="{{ !user.photoURL ? auth.defaultURL : user.photoURL }}" width="40"
          height="40" class="rounded-circle" alt="user-image"/>
          <b style="color: blue;">
          {{user.displayName === null ? user.email.split('@')[0] : user.displayName }}
          </b>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Account</strong></div>
          <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
          
          <div class="divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
          <a (click)="false" (click)="auth.signOut()" class="dropdown-item" href><i class="fa fa-lock"></i> Logout</a>
          </div>
      </li>        
  </ul>     
</app-header>
<div class="app-body">
  <app-sidebar class="sidebar bg-light" #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-d></app-sidebar-d>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">        
      </li>
    </cui-breadcrumb>    
    <div class="container-fluid">      
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    
  </app-aside>
</div>
<app-footer>
  <span>Đồ án tốt nghiệp: Thiết kế website Thương mại điện tử</span>
  <span class="ml-auto">Thiết kế  bởi <a href="https://www.facebook.com/Doanh.NH">Nguyễn Hữu Doanh</a> và <a href="https://www.facebook.com/sgr.0112">Ngô Việt Dũng</a></span>
</app-footer>

