<ng-container>
  <div class="row">
    <div class="col-md-12">
      <h2>{{title}}</h2>
      <carousel [interval]="interval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let quadrupleProduct of quadrupleProductList">
          <div class="row">
            <div class="col-3" *ngFor="let product of quadrupleProduct">
              <app-card-product [product]="product"></app-card-product>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</ng-container>  
