<ng-container> 
  <table class="table table-bordered">
    <thead>
      <tr class="d-flex text-center">
        <th class="col-3">Mã khách hàng</th>
        <th class="col-3">Tài khoản</th>
        <th class="col-2">Tên khách hàng</th>                
        <th class="col-2">Hóa đơn thanh toán</th>
        <th class="col-2">Hóa đơn chưa thanh toán</th>
      </tr>
    </thead>
    <tbody>
      <div *ngFor="let customer of customerList">
          <tr class="d-flex" style="word-break: break-all; text-align: center;">
              <td class="col-3">
                {{customer.uid}}
              </td>
              <td class="col-3">
                {{customer.email}}                                  
              </td>
              <td class="col-2">
                {{customer.name}}
              </td>     
              <td class="col-2">                
                <a data-toggle="modal" (click)="openModal(billList, true, customer.bill)" 
                    (click)="false" class="nav-link" href="#"
                >
                  <span class="badge-pill badge-primary">{{customer.paidNumber}}</span>
                </a>  
                <ng-template #billList>
                  <div class="modal-header bg-danger">
                    <h4 class="modal-title pull-left">Hóa đơn đã thanh toán - {{customer.name}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <app-bill-table [bills]="bills" [isShipper]="false">

                    </app-bill-table>
                  </div>
                </ng-template>
              </td>                                   
              <td class="col-2">                
                <a data-toggle="modal" (click)="openModal(billList, false, customer.bill)" 
                    (click)="false" class="nav-link" href="#"
                >
                <span class="badge-pill badge-danger">{{customer.unPaidNumber}}</span>
                </a>  
                <ng-template #billList>
                  <div class="modal-header bg-danger">
                    <h4 class="modal-title pull-left">Hóa đơn chưa thanh toán - {{customer.name}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <app-bill-table [bills]="bills" [isShipper]="false">

                    </app-bill-table>
                  </div>
                </ng-template>
              </td>
          </tr> 
      </div>                          
    </tbody>
  </table>             
</ng-container>
