<ng-container *ngIf="showList">
    <div class="col-lg-12">
        <h3>{{category.name}}: 
            <span class="text-muted">{{quantity}} kết quả</span>
        </h3>
    </div>
    <app-list-product-grid [productsList]="productsList" 
                            [pages] = "pages"
                            [currentPage] = "page"
                            [modal] = "true"
                            (selectedPage) = "showCurrentPage($event)"                            
    >
    </app-list-product-grid>
</ng-container>