<ng-container>
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane" [ngClass]="(i==0)?'active':''" id="pic-{{i+1}}"
                            *ngFor="let url of product.imageURL; let i = index"
                      >                        
                        <img src="{{url}}" />
                    </div>                                          
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li [ngClass]="(i==0)?'active':''"
                            *ngFor="let url of product.imageURL; let i = index"
                        >
                            <a data-target="#pic-{{i+1}}" data-toggle="tab">
                                <img src="{{url}}" />
                            </a>
                        </li>                                            
                    </ul>                                      
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{product.name}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked" *ngFor="let star of stars.lightStars"></span>                            
                            <span class="fa fa-star" *ngFor="let star of stars.darkStars"></span>
                        </div>
                        <span class="review-no">41 lượt mua</span>
                    </div>
                    <h4 class="price"><span>{{price}}đ</span></h4>
                    <ul class="product-description">
                        <li *ngFor="let des of product.description">{{des}}</li>
                    </ul>                                                                           
                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button" (click)="closeModal()">add to cart</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>