.example-card {
    max-width: 250px;
  }
  
  .example-header-image {
    
    background-size: cover;
  }
  .list-product {
    display: flex;
    flex-direction: row;
  }
  .mt-card-title {
    font-size: 13px;
    width: 200px;
    word-wrap: break-word;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a { 
    text-decoration: none;
  }