.ul_menu ul li{  
  border-bottom: 1px solid #c6d0da;
  text-align: left;
  font-size: 18px;  
}

.example-card {
  max-width: 250px;
  max-height: 320px;
}

.example-header-image {
  
  background-size: cover;
}
#list-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  width: 750px;
  padding-left: 0px;
  margin-left: 11px;
}
.mt-card-title {
  font-size: 13px;
  width: 200px;
  word-wrap: break-word;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(15, 3, 3, 0.897)
}
.mt-card-image{
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
}
.mt-card-sub{
  color: #000;
}
a { 
  text-decoration: none;
 
}
#main {
  width:100%;
  margin: 0 auto;
  display: flex;
}
#main-left{
  border: 3px solid #ccc;
  width: 200px;
  margin-left: 11px;
}
.example-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#main-right{
  border: 3px solid #ccc;    
  width: 345px;
  margin-left: 11px;
}
.btn{
  margin-left: 10px;
  margin-right: 10px;
}

.left-sel{
  padding-right: 7%;
}

.right-sel{
  padding-left: 6%;
}