<ng-container>
    <div class="col-12">
        <h3>1. Địa chỉ giao hàng</h3>
    </div>
    <div class="row" *ngIf="isCheckoutSubs">
        <div class="col-7">            
            <div class="card">
                <div class="card-header bg-danger">
                    <strong>Thông tin địa chỉ</strong> 
                  </div>
                  <div class="card-body" *ngIf="user">
                    <form #shippingForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">                
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="name">Tên</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" placeholder="Nhập tên.."
                                  id="name" required [(ngModel)]="userInfor.name"
                                  name="name" #name="ngModel"
                          >
                          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Không được để trống
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="phoneNumber">Điện thoại</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" placeholder="Nhập số điện thoại.." 
                                  id="phoneNumber" required [(ngModel)]="userInfor.phoneNumber"
                                  name="phoneNumber" #phoneNumber="ngModel"
                          >
                          <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert alert-danger">
                            Không được để trống
                          </div>
                        </div>
                      </div>                     
                      <h3>Địa chỉ</h3>
                      <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="province">Tỉnh/Thành phố</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control"
                                  id="province" required [(ngModel)]="userInfor.address.province"
                                  name="province" #name="ngModel" disabled
                          >
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="district">Quận/Huyện</label>
                          <div class="col-md-8">
                            <select class="form-control" id="district" required
                                    [(ngModel)]="userInfor.address.district"
                                    name="district" #district="ngModel"
                                    (change)="changeDistrict()"
                            >                            
                              <option *ngFor="let district of districtList" [value]="district.name">{{district.name}}</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="subDistrict">Phường/Xã</label>
                          <div class="col-md-8">
                            <select class="form-control" id="subDistrict" required
                                    [(ngModel)]="userInfor.address.subDistrict"
                                    name="subDistrict" #subDistrict="ngModel"
                            >                            
                              <option *ngFor="let ward of wardList" [value]="ward.name">{{ward.name}}</option>
                            </select>                          
                          </div>
                      </div>            
                      <div class="form-group row">
                          <label class="col-md-4 col-form-label" for="details">Chi tiết</label>
                          <div class="col-md-8">
                              <textarea rows="4" class="form-control" placeholder="Nhập số nhà.., ngõ.., đường.."
                                        id="details" required [(ngModel)]="userInfor.address.details"
                                        name="details" #details="ngModel"
                              >
                              </textarea>
                              <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
                                Không được để trống
                              </div>
                          </div>
                      </div>                           
                        
                      <div class="float-right">
                        <button type="submit" [disabled]="!shippingForm.form.valid" class="btn btn-sm btn-primary"> Xác nhận</button>
                      </div>                                       
                    </form>
                  </div>                                                       
            </div>
        </div>        
    </div>
</ng-container>