<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header"><label><i>Chọn năm </i></label></div>
          <div class="card-body">
            <select type="number" class="form-select" (ngModelChange)="dashboard.changeYear($event)"
              [(ngModel)]="chosenYear">
              <option [ngValue]=0>--All--</option>
              <option *ngFor="let year of dashboard.years" [ngValue]="year.value">
                {{year.value}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header"><label><i>Chọn tháng </i></label></div>
          <div class="card-body">
            <select type="number" class="form-select" (ngModelChange)="dashboard.changeMonth($event)" [(ngModel)]="chosenMonth"
              [disabled]="!chosenYear">
              <option [ngValue]=0>None</option>
              <option *ngFor="let month of dashboard.arrayOne(12); let i = index" [ngValue]="i+1">
                Tháng {{i+1}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header"><label><i>Chọn ngày </i></label></div>
          <div class="card-body">
            <select type="number" class="form-select" [(ngModel)]="chosenDay" [disabled]="!chosenMonth">
              <option [ngValue]=0>None</option>
              <option *ngFor="let day of dashboard.arrayOne(dashboard.days); let i = index" [ngValue]="i+1">
                {{i+1}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <button class="btn btn-outline-danger btn-lg" (click)="loadChart()">Thống kê</button>
      </div>
    </div>
  </div>  
  <hr>
  <div class="chart">
    <canvas id="chart-by-time"></canvas>
  </div>
  <div class="chart">
    <canvas id="chart-by-category"></canvas>
  </div>