<ng-container>
  <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link border border-bottom-0 active" 
            data-toggle="tab" href="#cash"
            [ngClass]="{ 'active': activeTab==='cash' }"
            (click)="clickTab('cash')"
        >
        Thanh toán khi nhận hàng
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link border border-bottom-0" 
            data-toggle="tab" href="#card"
            [ngClass]="{ 'active': activeTab==='card' }"
            (click)="clickTab('card')"
        >
        Thanh toán trực tuyến
        </a>
    </li>                
  </ul> 
  <div class="tab-content">
    <div class="tab-pane active container" id="cash"
            [ngClass]="{ 'active': activeTab==='cash' }"
    >
      <app-bill-table [bills]="bills" [isShipper]="true" (confirm)="clickSubmit($event)">

      </app-bill-table>
                
    </div>
    <div class="tab-pane container" id="card"
            [ngClass]="{ 'active': activeTab==='card' }"
    >
      <app-bill-table [bills]="bills" [isShipper]="true" (confirm)="clickSubmit($event)">

      </app-bill-table>
    </div>
  </div>
    
</ng-container>
