<ng-container>
    <div class="thumb-wrapper">
        <a routerLink="/{{product.link}}" title="{{product.name}}" style="text-decoration: none; color: inherit;">
          <div class="img-box">            
            <img src="{{product.imageURL[0]}}" alt="Photo of {{product.name}}" class="img-responsive img-fluid">
          </div>
          <div class="thumb-content ">
            <h5 class="product-name">{{product.name}}</h5>
            <p class="item-price"><span>{{nomalizedPrice}}đ</span></p>
            <div class="star-rating">
              <ul class="list-inline">
                <li class="list-inline-item" *ngFor="let star of lightStars"><i class="fa fa-star"></i></li>                
                <li class="list-inline-item" *ngFor="let star of darkStars"><i class="fa fa-star-o"></i></li>
              </ul>
            </div>            
          </div>
        </a>						
      </div>
</ng-container>