<ng-container>
    <ul class="list-group" *ngFor="let categoryGroup of productCategoriesGroupList">
      <!-- Separator with title -->
      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>{{categoryGroup.name}}</small>
      </li>
      <!-- End Separator -->
      <!-- Menu -->
      <a [routerLink]="categoryProduct.url" 
        routerActive="active"
        class="font-weight-light list-group-item list-group-item-action flex-column align-items-start"
        *ngFor="let categoryProduct of categoryGroup.children"        
      >
        <span class="fa {{categoryProduct.icon}} fa-fw fa-lg mr-1"></span> 
        <span class="menu-collapsed">{{categoryProduct.name}}</span>            
      </a>      
    </ul>
</ng-container>