<form [formGroup]="formSignup" >
    <p class="hint-text">Nhập đủ thông tin để tạo tài khoản</p>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Nhập email" formControlName="username">
        <div class="text-danger" *ngIf="isSubmitted && f.username.errors?.required">Nhập email</div>
        <div class="text-danger" *ngIf="isSubmitted && f.username.errors?.email">Địa chỉ email không hợp lệ</div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Nhập mật khẩu" formControlName="password">
        <div class="text-danger" *ngIf="isSubmitted && f.password.errors?.required">
                <i class="material-icons">cancel</i> Nhập mật khẩu
        </div>
        <label class="col text-danger" *ngIf="formSignup.controls['password'].hasError('minlength')">
                Chứa ít nhất 8 ký tự!
        </label>
        <label class="col text-danger" *ngIf="formSignup.controls['password'].hasError('hasNumber')">
                Chứa ít nhất 1 số! 
        </label>
        <label class="col text-danger" *ngIf="formSignup.controls['password'].hasError('hasCapitalCase')">
                Chứa ít nhất 1 ký tự viết hóa!
        </label>
        <label class="col text-danger" *ngIf="formSignup.controls['password'].hasError('hasSmallCase')">
                Chứa ít nhất 1 ký tự thường!
        </label>
        <label class="col text-danger" *ngIf="formSignup.controls['password'].hasError('hasSpecialCharacters')">
                Chứa ít nhất 1 ký tự đặc biệt!
        </label>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" formControlName="confirm">       
        <label class="col text-danger" *ngIf="formSignup.controls['confirm'].hasError('NoPassswordMatch') && formSignup.value['password'] ">
               Mật khẩu không khớp 
        </label>
    </div>
    <div class="form-group">
        <label class="checkbox-inline"><input type="checkbox" formControlName="terms"> Tôi đồng ý với <a href="#">điều khoản &amp; dịch vụ</a></label>
        <div class="text-danger" *ngIf="isSubmitted && f.terms.errors?.required">Bạn phải đồng ý với điều khoản và dịch vụ</div>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-success" value="Đăng ký" (click)="onSubmit(); signupClick()">
    </div>
</form>