<ng-container>
    <div class="card">
        <div class="card-header bg-primary">            
            <strong>Địa chỉ giao hàng</strong>  
            <a class="float-right btn btn-warning btn-sm text-dark" 
                (click)="navigate('/checkout/shipping')"
            >
            Sửa
            </a>                          
        </div>
        <div class="card-body">
          <h5>Nguyễn Văn A</h5>          
          <div>Số điện thoại: 0123456789<br>Đống Đa, Hà Nội<br></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary">            
            <strong>Đơn hàng</strong><span> (2 sản phẩm)</span>  
            <a class="float-right btn btn-warning btn-sm text-dark" 
                (click)="navigate('/checkout/cart')"
            >
            Sửa
            </a>                          
        </div>
        <div class="card-body">   
            <div class="row">
                <div class="col-7">
                    <strong>2 x </strong><a href="#" class="text-blue ">product namesssss ssssss ssssss sssssssss ssssssssss sssssssssssss sssssss ssss</a>
                
                </div>       
                <div class="col-5">
                    <span class="float-right">1.222.333đ</span>
                </div>
            </div>  
            <hr>      
            <strong>Thành tiền:</strong>
            <div class="float-right">1.222.333đ</div>
        </div>
    </div>
</ng-container>